pyTelegramBotAPI==4.29.1
requests==2.32.4
groq==0.37.1
python-dotenv==1.1.1
urllib3==2.5.0
psycopg2-binary==2.9.12
sentence-transformers==6.0.1
Flask==3.1.2
waitress==3.0.2
scikit-learn==1.7.0
cryptography==50.0.1
faster-whisper==1.2.1
langfuse==4.15.1
langgraph==1.1.10
langchain==1.2.13
langchain-core==1.6.2
langchain-groq==1.1.3
